# Python

__pycache__/
*.py[cod]
*$py.class

# Virtual Environments

venv/
env/
ENV/
.venv/

# Environment Variables

.env

# Jupyter

.ipynb_checkpoints/

# VS Code

.vscode/

# PyCharm

.idea/

# OS Files

.DS_Store
Thumbs.db

# Python Build Files

build/
dist/
*.egg-info/

# Logs

*.log